#field {
    width:200px;
    height:200px;
    border:1px solid green;
    background-color: blue;
    position: relative;
}

#x {
    background-color: yellow;
    border: 1px solid red;
    position: absolute;
    top: 10px;
    left: 30px;
    width: 5px;
    height: 5px;
}

.rock {
    background-color: green;
    position: absolute;
    width: 10px;
    height: 10px;
}
